.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* ✈️ Plane background */
 background-image:
  linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  url("https://images.unsplash.com/photo-1436491865332-7a61a109cc05");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  opacity: 0.9;
}

.btn-group {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 30px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.primary {
  background-color: #ffcc00;
  color: #000;
  font-weight: 600;
}

.secondary {
  background-color: white;
  color: #000;
  font-weight: 600;
}
